*{
    box-sizing: border-box;
}
.font-icon {
    width: 30px;
    display: block;
    margin-right : 10px;
}
/*mengatur font yang dipakai dan background halaman*/
body {
    font-family: Arial;
    margin: 0;
    background: rgb(209, 224, 236);

    
}
/* membuat container menjadi layout flexbox dan kotak login di tengah*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/**/
/*mengatur desain header*/
header {
    background: #005b96;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 60px;
}
/*mengatur lebar menu dan background*/
aside {
    flex: 20%;
    background: #6497b1;
    min-height: 100vh;  
    position: fixed;
    width: 300px;
    left: 0;
}
/*mengatur lebar konten utama dan background*/
section.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    flex: 70%;
    background: rgb(209, 224, 236);
    min-height: 530px;
    padding: 15px 20px;
    margin-left: 180px;
    margin-top: 35px;
}
/*mengatur footer yaitu backgroundnya dan teksnya ditengah*/
footer {
    background: #005b96;
    color: white;
    padding: 55px;
    text-align: center;
}
/*mengatur layout pada layar kecil (responsive)*/
@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}
/*navigasi*/
/*membuang padding pada tag <ul>*/
.menu {
    padding: 0;
    margin-top: 55px;
}
/*menambah border bawah tag <li>*/
.menu li {
    border-bottom: 1px dotted #444;
    display: flex;
    align-items: center;
}
/*mengatur desain menu yang dibuat dengan tag a*/
.menu a {
    display: flex;
    width: 100%;
    padding: 20px 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
/*hover*/
.menu li:hover {
    background: #005b96;
}
/**/
/*mengatur desain judul halaman dengan border di bawah*/
.judul {
color: #555;
border-bottom: 1px solid #ccc;
padding-bottom: 15px;
}
/*mengatur agar lebar tabel penuh dan antar border tidak memiliki jarak*/
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
/*menambahkan border dan padding pada sel tabel*/
.table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
}
/*mengatur background bagian judul tabel*/
.table th {
    background: #eee;
}
/*mengatur desain tombol yang dibuat dengan tag <a>*/
.tombol {
    display: inline-block;
    max-width: 150px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    background: #038ade;
    cursor: pointer;
}
/*mengatur tombol edit dan hapus agar lebih kecil dan variatif*/
.tombol.edit, .tombol.hapus {
    padding: 10px 15px;
    font-size: 12px;
}
.tombol.edit {
    background: rgb(211, 166, 18);
}
.tombol.hapus {
background: #ff0000;
}
.tombol:hover {
    background: rgb(9, 27, 9);
}
/**/
/*mengatur agar form-group tidak terpengaruh float*/
.form-group {
    clear: both;
    display: flex;
    flex-direction: column;
}
/*megatur lebar label 30% dengan teks bold*/
.form-group label {
    display: block;
    padding: 15px 0;
    float: left;
    width: 30%;
    font-weight: bold;
}
/*mengatur lebar .input 50% dan sejajar dengan label*/
.form-group .input {
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 12px 20px;
    float: left;
    border : 2px solid blue;
    background-color: #ffffff;
}
/*mengatur input radio, tombol submit, dan tombol reset*/
input[type=radio] {
    width: 50px;
}
.tombol.simpan {
    background: rgb(75, 182, 43);
    
}
.tombol.reset {
    background: #f10909;
   
}
/*membuat tampilan form menumpuk pada layar kecil (responsive)*/
@media (max-width: 700px) {
    .form-group label, .form-group .input {
        width: 100%;
    }
}
 .logoti{
    position: absolute;
    right: 40px;
 }
 img .icon {
    width : 50px;
 }
 form {
    max-width: 500px;
    
 }
 #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #038ade;
    color: white;
  }
  .btnupdate {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }
  .btndelete {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
  }
  header img {
    float: right;
    margin-right: 5px;
  }


  .kelas-byr {
    border-radius: 8px;
    background-color: rgb(209, 250, 185);
    border: 3px solid rgb(39, 203, 6);
    padding: 0;
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }

  .kelas-byr a {
    text-decoration: none;
    color: rgb(36, 199, 7);
    height: 30px;
    width: 80px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kelas-up {
    border-radius: 8px;
    background-color: rgb(249, 247, 178);
    border: 3px solid rgb(239, 239, 6);
    padding: 0;
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }

  .kelas-up a {
    text-decoration: none;
    color: rgb(206, 106, 5);
    height: 30px;
    width: 80px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kelas-del {
    border-radius: 8px;
    background-color: rgb(255, 200, 200);
    border: 3px solid rgb(255, 0, 0);
    padding: 0;
    display: flex;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: center;
  }
  .kelas-del a {
    text-decoration: none;
    color: rgb(207, 0, 0);
    height: 30px;
    width: 80px;
    padding: 5px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .kelas-tambah {
    border-radius: 8px;
    background-color: rgb(219, 245, 251);
    border: 3px solid rgb(0, 94, 209);
    padding: 0;
    display: flex;
    width: 80px;
    height: 30px;
    align-self: flex-end;
    
  }
  .kelas-tambah a {
    text-decoration: none;
    color: rgb(2, 9, 204);
    height: 30px;
    width: 80px;
    padding: 5px 9px;
    display: flex;
    justify-content: center;
  }
.cetak {
    border-radius: 8px;
    background-color: rgb(219, 245, 251);
    border: 3px solid rgb(0, 94, 209);
    color: rgb(2, 9, 204);
    padding: 0;
    /* display: flex; */
    width: 80px;
    height: 30px;
    align-self: flex-end;
    margin-right: 80px;
    
  }
  .cetak a {
    text-decoration: none;
    color: rgb(2, 9, 204);
    height: 30px;
    width: 80px;
    padding: 5px 9px;
    display: flex;
    justify-content: center;
  }
  .button-aksi {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .cari-nis {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }


  input {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;

  }
  input[type=text] {
    background: #fff;
    width: 300px;
    height: 40px;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
  }
  input[name=nm_kelas] {
    background: #fff;
    width: 200px;
    height: 40px;
    padding: 0 25px;
    border-right: none;
    border-radius: 25px 0 0 25px;
  }
  input[name=bulan] {
    background: #fff;
    width: 200px;
    height: 40px;
    padding: 0 25px;
    border-right: none;
    border-radius: 0 0 0 0;
  }
.button-cari {
    position: relative;
    border-radius: 0 25px 25px 0;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #038ade;
    color: #fff;
}
.button-cari:hover {
    background: #191963;
}

.container-utama{
    position:relative;
    top: 10px;
    left: -90px;
    width: 1010px;
    height: 230px;
    background-color: grey;
}

.container-utama .container-utama-siswa{
    position: absolute;
    width: 220px;
    height: 150px;
    top: 30px;
    left: 50px;
    border-radius: 10px;
    background-color: brown;
}

.container-utama .container-utama-kelas{
    position: absolute;
    width: 220px;
    height: 150px;
    left: 280px;
    top: 30px;
    border-radius: 10px;
    background-color: green;
}
.container-utama .container-utama-petugas{
    position: absolute;
    width: 220px;
    height: 150px;
    top: 30px;
    left: 510px;
    border-radius: 10px;
    background-color: purple;
}
.container-utama .container-utama-total{
    position: absolute;
    width: 220px;
    height: 150px;
    top: 30px;
    left: 740px;
    border-radius: 10px;
    background-color: yellow;
}
.btn {
    display: flex;
    justify-content: space-between;
}
.new-kelas input {
    border-radius: 10px;
    border : 2px solid blue;
}

section .main {
    width: 80%;
}

@media print {
    .print {
        display: none !important;
    }
    section.main {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        flex: 70%;
        background: rgb(209, 224, 236);
        min-height: 530px;
        padding: 15px 20px;
        margin-left: 5px;
        margin-top: 10px;
    }
    header img{
        margin-top: -15px;
    }

}

.wrap {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    ;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    width: 260px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    margin: 15px;
}
/**/

/* mengatur kotak form login lebarnya dan background putih*/
/*mengatur judul form dengan border bawah dan posisi di tengah*/
/*mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus*/
/*mengatur tampilan tombol submit*/
/*mengatur hover tombol submit*/




